@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6y1qae');
	src:url('fonts/icomoon.eot?#iefix6y1qae') format('embedded-opentype'),
		url('fonts/icomoon.woff?6y1qae') format('woff'),
		url('fonts/icomoon.ttf?6y1qae') format('truetype'),
		url('fonts/icomoon.svg?6y1qae#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.tap-revised .path1:before {
	content: "\e61e";
	color: rgb(201, 196, 190);
}
.tap-revised .path2:before {
	content: "\e61f";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.tap-8th .path1:before {
	content: "\e621";
	color: rgb(201, 196, 190);
}
.tap-8th .path2:before {
	content: "\e622";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.tap-8th .path3:before {
	content: "\e623";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.untap-8th .path1:before {
	content: "\e624";
	color: rgb(201, 196, 190);
}
.untap-8th .path2:before {
	content: "\e625";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.untap-8th .path3:before {
	content: "\e626";
	margin-left: -1em;
	color: rgb(0, 0, 0);
}

.tap .path1:before {
	content: "\e627";
	color: rgb(202, 197, 192);
}
.tap .path2:before {
	content: "\e628";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.untap .path1:before {
	content: "\e629";
	color: rgb(13, 15, 15);
}
.untap .path2:before {
	content: "\e62a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.pw .path1:before {
	content: "\e62b";
	color: rgb(248, 246, 216);
}
.pw .path2:before {
	content: "\e62c";
	margin-left: -1em;
	color: rgb(17, 18, 18);
}

.pu .path1:before {
	content: "\e62d";
	color: rgb(193, 215, 233);
}
.pu .path2:before {
	content: "\e62e";
	margin-left: -1em;
	color: rgb(17, 18, 18);
}

.pb .path1:before {
	content: "\e62f";
	color: rgb(186, 177, 171);
}
.pb .path2:before {
	content: "\e630";
	margin-left: -1em;
	color: rgb(17, 18, 18);
}

.pr .path1:before {
	content: "\e631";
	color: rgb(228, 153, 119);
}
.pr .path2:before {
	content: "\e632";
	margin-left: -1em;
	color: rgb(17, 18, 18);
}

.pg .path1:before {
	content: "\e633";
	color: rgb(163, 192, 149);
}
.pg .path2:before {
	content: "\e634";
	margin-left: -1em;
	color: rgb(17, 18, 18);
}

.p:before {
	content: "\e635";
}

.phyrexian:before {
	content: "\e635";
}

.pc .path1:before {
	content: "\e636";
	color: rgb(202, 197, 192);
}
.pc .path2:before {
	content: "\e637";
	margin-left: -1em;
	color: rgb(17, 18, 18);
}

.uw .path1:before {
	content: "\e600";
	color: rgb(193, 215, 233);
}
.uw .path2:before {
	content: "\e601";
	margin-left: -1em;
	color: rgb(248, 246, 216);
}
.uw .path3:before {
	content: "\e602";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.uw .path4:before {
	content: "\e603";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.bw .path1:before {
	content: "\e608";
	color: rgb(186, 177, 171);
}
.bw .path2:before {
	content: "\e609";
	margin-left: -1em;
	color: rgb(248, 246, 216);
}
.bw .path3:before {
	content: "\e60a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.bw .path4:before {
	content: "\e60b";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.ub .path1:before {
	content: "\e60c";
	color: rgb(186, 177, 171);
}
.ub .path2:before {
	content: "\e60d";
	margin-left: -1em;
	color: rgb(193, 215, 233);
}
.ub .path3:before {
	content: "\e60e";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.ub .path4:before {
	content: "\e60f";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.ur .path1:before {
	content: "\e610";
	color: rgb(228, 153, 119);
}
.ur .path2:before {
	content: "\e611";
	margin-left: -1em;
	color: rgb(193, 215, 233);
}
.ur .path3:before {
	content: "\e612";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.ur .path4:before {
	content: "\e613";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.br .path1:before {
	content: "\e614";
	color: rgb(228, 153, 119);
}
.br .path2:before {
	content: "\e615";
	margin-left: -1em;
	color: rgb(186, 177, 171);
}
.br .path3:before {
	content: "\e616";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.br .path4:before {
	content: "\e617";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.gb .path1:before {
	content: "\e618";
	color: rgb(163, 192, 149);
}
.gb .path2:before {
	content: "\e619";
	margin-left: -1em;
	color: rgb(186, 177, 171);
}
.gb .path3:before {
	content: "\e61a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.gb .path4:before {
	content: "\e61b";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.gr .path1:before {
	content: "\e638";
	color: rgb(163, 192, 149);
}
.gr .path2:before {
	content: "\e639";
	margin-left: -1em;
	color: rgb(228, 153, 119);
}
.gr .path3:before {
	content: "\e63a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.gr .path4:before {
	content: "\e63b";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.rw .path1:before {
	content: "\e63c";
	color: rgb(248, 246, 216);
}
.rw .path2:before {
	content: "\e63d";
	margin-left: -1em;
	color: rgb(228, 153, 119);
}
.rw .path3:before {
	content: "\e63e";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.rw .path4:before {
	content: "\e63f";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.gw .path1:before {
	content: "\e640";
	color: rgb(248, 246, 216);
}
.gw .path2:before {
	content: "\e641";
	margin-left: -1em;
	color: rgb(163, 192, 149);
}
.gw .path3:before {
	content: "\e642";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.gw .path4:before {
	content: "\e643";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.ug .path1:before {
	content: "\e644";
	color: rgb(193, 215, 233);
}
.ug .path2:before {
	content: "\e645";
	margin-left: -1em;
	color: rgb(163, 192, 149);
}
.ug .path3:before {
	content: "\e646";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.ug .path4:before {
	content: "\e647";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.w2 .path1:before {
	content: "\e648";
	color: rgb(248, 246, 216);
}
.w2 .path2:before {
	content: "\e649";
	margin-left: -1em;
	color: rgb(202, 197, 192);
}
.w2 .path3:before {
	content: "\e64a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.w2 .path4:before {
	content: "\e64b";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.u2 .path1:before {
	content: "\e64c";
	color: rgb(193, 215, 233);
}
.u2 .path2:before {
	content: "\e64d";
	margin-left: -1em;
	color: rgb(202, 197, 192);
}
.u2 .path3:before {
	content: "\e64e";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.u2 .path4:before {
	content: "\e64f";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.b2 .path1:before {
	content: "\e650";
	color: rgb(186, 177, 171);
}
.b2 .path2:before {
	content: "\e651";
	margin-left: -1em;
	color: rgb(202, 197, 192);
}
.b2 .path3:before {
	content: "\e652";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.b2 .path4:before {
	content: "\e653";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.r2 .path1:before {
	content: "\e654";
	color: rgb(228, 153, 119);
}
.r2 .path2:before {
	content: "\e655";
	margin-left: -1em;
	color: rgb(202, 197, 192);
}
.r2 .path3:before {
	content: "\e656";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.r2 .path4:before {
	content: "\e657";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.g2 .path1:before {
	content: "\e658";
	color: rgb(163, 192, 149);
}
.g2 .path2:before {
	content: "\e659";
	margin-left: -1em;
	color: rgb(202, 197, 192);
}
.g2 .path3:before {
	content: "\e65a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.g2 .path4:before {
	content: "\e65b";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-w .path1:before {
	content: "\e65c";
	color: rgb(248, 246, 216);
}
.mana-w .path2:before {
	content: "\e65d";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-u .path1:before {
	content: "\e65e";
	color: rgb(193, 215, 233);
}
.mana-u .path2:before {
	content: "\e65f";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-b .path1:before {
	content: "\e660";
	color: rgb(186, 177, 171);
}
.mana-b .path2:before {
	content: "\e661";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.red .path1:before {
	content: "\e662";
	color: rgb(228, 153, 119);
}
.red .path2:before {
	content: "\e663";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.g .path1:before {
	content: "\e664";
	color: rgb(163, 192, 149);
}
.g .path2:before {
	content: "\e665";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.snow .path1:before {
	content: "\e666";
	color: rgb(201, 196, 190);
}
.snow .path2:before {
	content: "\e667";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}
.snow .path3:before {
	content: "\e668";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.snow .path4:before {
	content: "\e669";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.snow .path5:before {
	content: "\e66a";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.snow .path6:before {
	content: "\e66b";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.snow .path7:before {
	content: "\e66c";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.snow .path8:before {
	content: "\e66d";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}
.snow .path9:before {
	content: "\e66e";
	margin-left: -1em;
	color: rgb(255, 255, 255);
}

.mana-zero .path1:before {
	content: "\e604";
	color: rgb(202, 197, 192);
}
.mana-zero .path2:before {
	content: "\e605";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-one .path1:before {
	content: "\e606";
	color: rgb(202, 197, 192);
}
.mana-one .path2:before {
	content: "\e607";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.two .path1:before {
	content: "\e61c";
	color: rgb(202, 197, 192);
}
.two .path2:before {
	content: "\e61d";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-3 .path1:before {
	content: "\e66f";
	color: rgb(202, 197, 192);
}
.mana-3 .path2:before {
	content: "\e670";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-4 .path1:before {
	content: "\e671";
	color: rgb(202, 197, 192);
}
.mana-4 .path2:before {
	content: "\e672";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-5 .path1:before {
	content: "\e673";
	color: rgb(202, 197, 192);
}
.mana-5 .path2:before {
	content: "\e674";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-6 .path1:before {
	content: "\e675";
	color: rgb(202, 197, 192);
}
.mana-6 .path2:before {
	content: "\e676";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-7 .path1:before {
	content: "\e677";
	color: rgb(202, 197, 192);
}
.mana-7 .path2:before {
	content: "\e678";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-eight .path1:before {
	content: "\e679";
	color: rgb(202, 197, 192);
}
.mana-eight .path2:before {
	content: "\e67a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-9 .path1:before {
	content: "\e67b";
	color: rgb(202, 197, 192);
}
.mana-9 .path2:before {
	content: "\e67c";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-10 .path1:before {
	content: "\e67d";
	color: rgb(202, 197, 192);
}
.mana-10 .path2:before {
	content: "\e67e";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-11 .path1:before {
	content: "\e67f";
	color: rgb(202, 197, 192);
}
.mana-11 .path2:before {
	content: "\e680";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-12 .path1:before {
	content: "\e681";
	color: rgb(202, 197, 192);
}
.mana-12 .path2:before {
	content: "\e682";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-13 .path1:before {
	content: "\e683";
	color: rgb(202, 197, 192);
}
.mana-13 .path2:before {
	content: "\e684";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-14 .path1:before {
	content: "\e685";
	color: rgb(202, 197, 192);
}
.mana-14 .path2:before {
	content: "\e686";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-15 .path1:before {
	content: "\e687";
	color: rgb(202, 197, 192);
}
.mana-15 .path2:before {
	content: "\e688";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-16 .path1:before {
	content: "\e689";
	color: rgb(202, 197, 192);
}
.mana-16 .path2:before {
	content: "\e68a";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-17 .path1:before {
	content: "\e68b";
	color: rgb(202, 197, 192);
}
.mana-17 .path2:before {
	content: "\e68c";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-18 .path1:before {
	content: "\e68d";
	color: rgb(202, 197, 192);
}
.mana-18 .path2:before {
	content: "\e68e";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-19 .path1:before {
	content: "\e68f";
	color: rgb(202, 197, 192);
}
.mana-19 .path2:before {
	content: "\e690";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-20 .path1:before {
	content: "\e691";
	color: rgb(202, 197, 192);
}
.mana-20 .path2:before {
	content: "\e692";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-x .path1:before {
	content: "\e693";
	color: rgb(202, 197, 192);
}
.mana-x .path2:before {
	content: "\e694";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-y .path1:before {
	content: "\e695";
	color: rgb(201, 196, 190);
}
.mana-y .path2:before {
	content: "\e696";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

.mana-z .path1:before {
	content: "\e697";
	color: rgb(201, 196, 190);
}
.mana-z .path2:before {
	content: "\e698";
	margin-left: -1em;
	color: rgb(13, 15, 15);
}

